* {
    margin: 0;
    padding: 0
}

body {
    background-color: #f5f5f5
}

.main-header {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: header;
    background-color: #fff
}

.main-header h1 {
}

.main-content {
    grid-area: content;
    align-self: center
}

.main-nav {
    grid-area: nav
}

.main-nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none
}

.main-nav a {
    text-decoration: none;
    color: green
}

.main-nav a:hover {
    text-decoration: underline;
    color: #006400
}

.container {
    background: #ffffff;
    grid-area: container;
    display: grid;
    gap: 1rem;
    margin: 0 4rem;
    padding: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "content content" "aside aside"
}

.main-aside {
    grid-area: aside
}

.wrapper {
    display: grid;
    grid-template-areas: "header" "container" "footer"
}

.main-footer {
    color: #c3c3c3;
    padding: 2rem 6rem;
    grid-area: footer;
    background-color: #333
}