/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  line-height: 1.4;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background: url("../img/circuit.png") repeat;
}

a {
  color: tomato;
}

a:hover {
  color: #c71e00;
}

p {
  word-break: break-all;
}

input[type=text], select, textarea {
  padding: 1rem;
  display: block;
  box-sizing: border-box;
  margin-top: .6rem;
  margin-bottom: 1rem;
  resize: vertical;
  width: 100%;
  background-color: whitesmoke;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 1rem;
  border: none;
  cursor: pointer;
  color: whitesmoke;
  background-color: tomato;
}

input[type=submit]:hover {
  background-color: #c71e00;
}

/* PADDING & MARGIN*/
.p-1rem {
  padding: 1rem;
}

.p-3rem {
  padding: 3rem;
}

.p-1rem3rem {
  padding: 1rem 3rem;
}

.p-6rem {
  padding: 6rem;
}

.p-1rem2rem {
  padding: 1rem 2rem;
}

.m-1rem {
  margin: 1rem;
}

.m-1rem0rem {
  margin: 1rem 0;
}

.main-header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "m-h1 m-h1" "m-nav m-nav";
  background: #333;
  padding: 1rem 3rem;
}

.main-nav {
  grid-area: m-nav;
}

.main-nav__a, .main-header__a {
  color: whitesmoke;
}

.nav-active {
  display: block !important;
}

.nav-toggle {
  grid-area: m-toggle;
  display: none;
}

.main-header__h1 {
  grid-area: m-h1;
  display: inline-block;
  font-size: 4rem;
}

.main-nav__li {
  text-align: center;
  margin: 15px auto;
}

.main-nav__a:hover, .main-header__a:hover, .main-nav__a-active {
  color: tomato;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table__td, .table__tr {
  padding: 1rem;
}

.table__th {
  padding: 1rem;
  text-align: left;
  background-color: tomato;
  color: whitesmoke;
}

.table__tr:nth-child(even) {
  background-color: #e8e8e8;
}

.table__tr:hover {
  background-color: gainsboro;
}

.table-helper {
  overflow-x: auto;
}

.container {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 14rem;
  grid-template-areas: "header header" "content aside" "content aside" "footer footer";
}

.main-content {
  background: white;
  grid-area: content;
  align-self: center;
  font-size: 1.2rem;
  padding: 1rem;
  min-height: 30rem;
}

.main-aside {
  background: white;
  grid-area: aside;
  font-size: 1.2rem;
  padding: 1rem;
}

.main-footer {
  color: whitesmoke;
  background-color: #333;
  text-align: center;
  grid-area: footer;
  padding: 1rem 2rem;
}

.content-section {
  padding: 2rem;
  display: grid;
  gap: 1rem;
}

.section__heading {
  font-size: 2.4rem;
  -webkit-text-decoration: tomato underline;
          text-decoration: tomato underline;
}

.article {
  border: 0.1rem solid #e8e8e8;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-areas: "a-img a-h1" "a-img a-p";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.article_heading {
  font-size: 2.4rem;
  grid-area: a-h1;
}

.article__img {
  width: 10rem;
  border: 0.1rem solid whitesmoke;
  grid-area: a-img;
}

.article__p {
  grid-area: a-p;
}

.home__image {
  background-size: cover;
  background: url("https://picsum.photos/1366/400") center center whitesmoke;
  width: 100%;
  height: 15rem;
}

.sponsor {
  border: 0.1rem solid whitesmoke;
  padding: 1rem;
}

.sponsor__heading {
  font-size: 1.4rem;
}

.sponsor__img {
  border: 0.1rem solid whitesmoke;
  max-width: 30rem;
}

.social__li {
  font-size: 1.6rem;
}

.youtube {
  color: #ff0000;
}

.youtube:hover {
  color: maroon;
}

.twitch {
  color: #6441A5;
}

.twitch:hover {
  color: #2d1d4a;
}

.twitter {
  color: #38A1F3;
}

.twitter:hover {
  color: #0a5fa2;
}

.facebook {
  color: #3B5998;
}

.facebook:hover {
  color: #17233c;
}

.instagram {
  color: #bc2a8d;
}

.instagram:hover {
  color: #54133f;
}

@media only screen and (min-width: 1025px) {
  .main-nav__ul {
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 1024px) {
  .main-header__h1 {
    font-size: 6rem;
  }
  .main-nav__ul {
    padding-top: 1rem;
  }
  .main-nav__li {
    margin: 2rem;
    font-size: 1.5rem;
  }
  .article {
    margin-bottom: 1rem;
    gap: .6rem;
    grid-template-areas: "a-img" "a-h1" "a-p";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .nav-toggle {
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    color: whitesmoke;
    font-size: 2rem;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "content" "aside" "footer";
  }
  .main-header__h1 {
    font-size: 1.6rem;
  }
  .main-header {
    padding: 1rem;
    grid-template-columns: 1fr auto;
    grid-template-areas: "m-h1 m-toggle" "m-nav m-nav";
  }
  .main-aside {
    padding: 0;
  }
  .main-content {
    padding: 0;
  }
  .article__img {
    width: 100%;
  }
  .sponsor__img {
    max-width: 16rem;
  }
  .home__image {
    height: 6rem;
  }
}

/*# sourceMappingURL=maps/main.css.map */
